*
{
    max-width: 1440px;
    padding: 0;
}
.my_section
{
    max-width: 1440px;
}
.first-section
{
display: flex;
flex-wrap: wrap;
max-width: 944px;
margin: 75px auto;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 39px;

}
.fs-title
{
max-width: 944px;
height: 124px;
color: #000;
text-align: center;
font-family: Playfair Display;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 48px; /* 109.091% */
}
.logos .img1
{
max-width: 160px;
height: 33px;
flex-shrink: 0;
background-color: #fff;
}
.logos .img2
{
max-width: 85px;
height: 44px;
flex-shrink: 0;
background-color: #fff;
}
.logos .img3
{
max-width: 145px;
height: 48px;
flex-shrink: 0;
background-color: #fff;
}
.logos .img4
{
    max-width: 141px;
    height: 25px;
    flex-shrink: 0;
    background-color: #fff;
    
}
.logos .img5
{
    max-width: 138px;
    height: 22px;
    flex-shrink: 0;
    background-color: #fff;
    
}
.logos
{
    max-width: 926px;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.second-section
{
    /* margin-top: 146px;
    max-width: 1440px; */
    margin: 146px auto;
    height: 366px;
    flex-shrink: 0;
    background: #4BA87D;
}
.second-section .ss-title
{
    max-width: 944px;
    height: 124px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px; /* 133.333% */
    margin-left: 248px;
    padding-top: 82px;
}
.second-section .ss-button
{
    max-width: 200px;
    height: 65px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 620px;
    border: none;
}
.second-section .ss-button >h3
{
    color: #4BA87D;
    text-align: center;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 119.048% */
    letter-spacing: 1.05px;
}
.footer
{
    max-width: 1440px;
    height: 433px;
    flex-shrink: 0;
}
.ft-logo
{
    max-width: 197.387px;
    height: 60.233px;
    flex-shrink: 0;
    background-color: #fff;
    margin-top: 73px;
    margin-left: 228px;
}
.ft-links
{
    max-width: 563px;
    height: 199.86px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 720px;
    justify-content: space-between;
}
.ft-links ul li
{
    color: #000;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 115.789% */
    list-style: none;
    margin-bottom: 10px;
    margin-left: 20px;
    max-width: auto;
}

.footer .ft-line
{
    max-width: 1088px;
    height: 2px;
    flex-shrink: 0;
    background: #DBDBDB;
    margin-top: 126px;
    margin-left: 176px;
}
.last-word
{
    color: #000;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 120% */
    margin-top: 39px;
    margin-left: 257px;
    display: inline-block;
}
.ft-terms
{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    margin-left: 99px;
}
.ft-terms > h1
{
    color: #000;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 120% */
}
.ft-terms > h2
{
    color: #000;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 120% */
  
}
.my_section
{
    margin: 0 auto;
}
@media (max-width:768px) and ( min-max-width:321px){
    .my_section
    {
        max-width: 768px;
    }
    .first-section
    {
        max-width: 617px;
    }
}
@media (max-width:320px){
    .my_section{
        max-width: 320px;
    }.first-section
    {
        max-width: 281px;
    }
}